.contacts {
	padding: 185px 0 150px;
	position: relative;
	overflow: hidden;
}

.contacts__items {
	margin-top: 108px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 20px;
}

.contacts__items-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 24px;
}

.contacts__item-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 129.1666666667%;
	color: #ffffff;
}

.contacts__item-date {
	font-size: 16px;
	font-weight: 400;
	line-height: 110%;
	color: #A5A5A5;
}

.contacts .circle {
	top: 0;
}

.contacts .circle:nth-child(1) {
	right: calc(100% - 20px);
}

.contacts .circle:nth-child(2) {
	left: calc(100% - 20px);
}

@media (max-width: 1279px) {
	.contacts {
		padding: 185px 0 120px;
	}

	.contacts__items {
		margin-top: 80px;
	}
}

@media (max-width: 989px) {
	.contacts .circle:nth-child(1) {
		right: 120%;
	}

	.contacts .circle:nth-child(2) {
		left: 120%;
	}

	.contacts__items {
		-ms-grid-columns: (1fr)[3];
		grid-template-columns: repeat(3, 1fr);
	}

	.contacts__items-list {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}
}

@media (max-width: 767px) {
	.contacts__items {
		margin-top: 60px;
		-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	}

	.contacts__items-list {
		-ms-grid-column-span: 1;
		grid-column: span 1;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

@media (max-width: 574px) {
	.contacts {
		padding-bottom: 60px;
	}

	.contacts__items {
		gap: 24px;
		-ms-grid-columns: (1fr)[1];
		grid-template-columns: repeat(1, 1fr);
	}
}