.contacts {
	padding: 185px 0 150px;
	position: relative;
	overflow: hidden;
}

.contacts__items {
	margin-top: 108px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px 20px;
}

.contacts__items-list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.contacts__item-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 129.1666666667%;
	color: #ffffff;
}

.contacts__item-date {
	font-size: 16px;
	font-weight: 400;
	line-height: 110%;
	color: #A5A5A5;
}

.contacts .circle {
	top: 0;
}

.contacts .circle:nth-child(1) {
	right: calc(100% - 20px);
}

.contacts .circle:nth-child(2) {
	left: calc(100% - 20px);
}

@media (max-width: 1279px) {
	.contacts {
		padding: 185px 0 120px;
	}

	.contacts__items {
		margin-top: 80px;
	}
}

@media (max-width: 989px) {
	.contacts .circle:nth-child(1) {
		right: 120%;
	}

	.contacts .circle:nth-child(2) {
		left: 120%;
	}

	.contacts__items {
		grid-template-columns: repeat(3, 1fr);
	}

	.contacts__items-list {
		flex-direction: row;
		grid-column: span 2;
	}
}

@media (max-width: 767px) {
	.contacts__items {
		margin-top: 60px;
		grid-template-columns: repeat(2, 1fr);
	}

	.contacts__items-list {
		grid-column: span 1;
		flex-direction: column;
	}
}