.payments {
	padding: 185px 0 145px;
	position: relative;
	overflow: hidden;
}

.payments__title {
	margin-bottom: 36px;
}

.payments__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.payments__content {
	max-width: 527px;
}

.payments .circle:nth-child(1) {
	top: 83px;
	right: calc(100% - 20px);
}

.payments .circle:nth-child(2) {
	bottom: -200px;
	left: calc(100% - 20px);
}

.payments .contact__wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 32px;
}

.payments .contact__data {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 1439px) {
	.payments .contact__wrapper {
		width: 45%;
	}

	.payments .contact__form {
		width: 100%;
	}
}

@media (max-width: 1279px) {
	.payments {
		padding: 175px 0 100px;
	}

	.payments__content {
		max-width: 80%;
	}

	.payments__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 80px;
	}

	.payments .contact__wrapper {
		width: 100%;
		gap: 100px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.payments .contact__data {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.payments .contact__form {
		width: 53%;
	}
}

@media (max-width: 989px) {
	.payments__wrapper {
		gap: 60px;
	}

	.payments__content {
		max-width: 100%;
	}

	.payments .circle:nth-child(1) {
		top: 0;
		right: 115%;
	}

	.payments .circle:nth-child(2) {
		left: 110%;
	}
}

@media (max-width: 574px) {
	.payments {
		padding-bottom: 60px;
	}
}