* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	border-collapse: collapse;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

body {
	font-family: "NTSomic", sans-serif;
	background: #0F121F;
}

img {
	max-width: 100%;
}

input {
	width: 100%;
}

button,
input,
textarea,
select,
option {
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-flex;
}

li {
	list-style: none;
}

span {
	font-family: inherit;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^=_icon-],
[class*=" _icon-"],
.icon-el::after,
.icon-el::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-arrow-left:before {
	content: "\e900";
	color: #fff;
}

._icon-arrow-right:before {
	content: "\e901";
	color: #fff;
}

._icon-burger:before {
	content: "\e902";
	color: #fff;
}

._icon-cart:before {
	content: "\e903";
	color: #fff;
}

._icon-menu-arrow:before {
	content: "\e904";
	color: #fff;
}

._icon-menu-catalog:before {
	content: "\e905";
	color: #fff;
}

._icon-minus:before {
	content: "\e906";
	color: #fff;
}

._icon-play:before {
	content: "\e907";
	color: #fff;
}

._icon-plus:before {
	content: "\e908";
	color: #fff;
}

._icon-search:before {
	content: "\e909";
	color: #fff;
}

.red-btn {
	background: #C30000;
	font-size: 16px;
	font-weight: 600;
	line-height: 112.5%;
	color: #ffffff;
	border-style: solid;
	border-color: #C30000;
	border-width: 0;
}

.transparent-btn {
	background: transparent;
	font-size: 16px;
	font-weight: 600;
	line-height: 112.5%;
	color: #ffffff;
	border-style: solid;
	border-color: #ffffff;
}

.transparent-btn.red {
	border-color: #C30000;
}

.swiper__nav {
	display: flex;
	align-items: center;
	gap: 40px;
}

.swiper__nav-btn {
	display: flex;
}

.swiper__nav-btn i {
	font-size: 20px;
	font-weight: 600;
}

.title__wrapper {
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.title__number {
	font-size: 16px;
	font-weight: 500;
	line-height: 110%;
	color: #C30000;
}

.title {
	font-size: 32px;
	font-weight: 700;
	line-height: 110%;
	color: #ffffff;
}

@media (max-width: 1279px) {
	.title {
		font-size: 28px;
	}
}

.form-footer {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.form-accept__input {
	position: absolute;
	width: 12px;
	height: 12px;
	opacity: 0;
	z-index: 1;
}

.form-accept__input:checked+p::before {
	background-image: url("../img/icons/input-check.svg");
	background-position: center;
	background-size: 8px;
	background-repeat: no-repeat;
}

.form-accept__text {
	font-size: 12px;
	font-weight: 500;
	line-height: 110%;
	color: #ffffff;
	padding-left: 24px;
	position: relative;
	max-width: 204px;
}

.form-accept__text::before {
	content: "";
	width: 12px;
	height: 12px;
	background-color: #C30000;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.form-submit {
	padding: 7.5px 44.5px;
}

.logo {
	height: fit-content;
}

.logo img {
	max-width: 100%;
	object-fit: contain;
}

.circle {
	position: absolute;
	z-index: -1;
	width: 618px;
	height: 618px;
	background: #C30000;
	filter: blur(200px);
}

.breadcrumbs {
	margin-bottom: 12px;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
}

.breadcrumbs__list-item {
	font-size: 12px;
	font-weight: 400;
	line-height: 110%;
	color: #A5A5A5;
}

.breadcrumbs__list-point {
	width: 2px;
	height: 2px;
	background: #A5A5A5;
}

.content {
	color: #A5A5A5;
	font-size: 16px;
	font-weight: 400;
	line-height: 110%;
}

.content__items {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.content__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 31.2px;
	color: #ffffff;
	margin-bottom: 12px;
}

.content__wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.content li {
	position: relative;
	padding-left: 15px;
}

.content li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #A5A5A5;
}

.content .white,
.content strong {
	color: #ffffff;
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(10px);
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__logo {
	max-width: 87px;
}

.header__nav {
	padding-left: 74px;
}

.header__nav-list {
	display: flex;
	align-items: center;
}

.header__nav-list-item {
	font-size: 18px;
	font-weight: 600;
	line-height: 131%;
	color: #ffffff;
	position: relative;
	transition: 0.4s all;
	background: transparent;
}

.header__nav-list-item:hover {
	background: rgba(255, 255, 255, 0.0392156863);
}

.header__nav-list-item:hover .header__submenu {
	opacity: 1;
	pointer-events: all;
}

.header__nav-list-item>a {
	padding: 25px;
	display: inline-flex;
	align-items: flex-end;
	gap: 8px;
}

.header__nav-list-item i {
	font-size: 8px;
	margin-bottom: 5.5px;
	color: #fff;
}

.header__submenu {
	position: absolute;
	top: 100%;
	padding-top: 12px;
	width: max-content;
	pointer-events: none;
	opacity: 0;
	transition: 0.4s all;
	z-index: 5;
}

.header__submenu-wrapper {
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.header__submenu-item {
	font-size: 14px;
}

.header__submenu-item a {
	background: rgba(0, 0, 0, 0.0117647059);
	padding: 8px 25px;
	width: 100%;
}

.header__submenu-item a:hover {
	background: rgba(255, 255, 255, 0.0392156863);
}

.header__block {
	display: flex;
	align-items: center;
	gap: 21px;
	margin: 0 0 0 auto;
}

.header__block-text {
	font-size: 16px;
	font-weight: 700;
	line-height: 131.25%;
	color: #fff;
}

.header__block-btn {
	padding: 7.5px 17px;
}

.header__block-search {
	display: flex;
	font-size: 17px;
}

.header__block-cart {
	display: flex;
	font-size: 23px;
	padding: 6.5px 19.5px;
}

.header__block-burger {
	display: none;
	font-size: 14px;
}

@media (max-width: 1279px) {
	.header__wrapper {
		justify-content: space-between;
	}

	.header__phone {
		display: none;
	}

	.header__nav {
		padding: 0;
	}

	.header__nav-list-item>a {
		padding: 25px 20px;
	}

	.header__block {
		gap: 14px;
		margin: 0;
	}
}

.footer {
	background: rgba(0, 0, 0, 0.95);
	padding: 100px 0;
}

.footer-text {
	font-size: 14px;
	font-weight: 500;
	line-height: 110%;
}

.footer__content {
	display: flex;
	justify-content: space-between;
}

.footer__navs {
	display: flex;
	align-items: flex-start;
	gap: 115px;
}

.footer__nav {
	width: 207px;
}

.footer__nav-title-wrap {
	position: relative;
	margin-bottom: 40px;
}

.footer__nav-title-number {
	position: absolute;
	right: calc(100% + 8px);
	top: -30%;
	font-size: 16px;
	font-weight: 500;
	line-height: 110%;
	color: rgb(36, 36, 36);
}

.footer__nav-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 111.1111111111%;
	color: rgb(123, 123, 123);
}

.footer__nav-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__nav-list-item {
	color: #ffffff;
}

.footer__logo {
	max-width: 207px;
}

.footer hr {
	margin: 40px 0;
	width: 100%;
	border: 1px solid rgb(36, 36, 36);
}

.footer__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.footer__info-content {
	display: flex;
	gap: 28px;
}

.footer__info-nav {
	width: 294px;
}

.footer__info-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer__info-list-item {
	color: rgb(123, 123, 123);
}

@media (max-width: 1370px) {
	.footer__navs {
		margin-left: 28px;
	}
}

@media (max-width: 1279px) {
	.footer__content {
		justify-content: space-between;
	}

	.footer__navs {
		gap: 0;
		width: 75%;
		justify-content: space-between;
	}

	.footer__logo {
		max-width: 15%;
	}
}

.product-card {
	width: 100%;
	padding: 36px 20px 18px 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: rgba(37, 45, 80, 0.6);
	border: 1px solid transparent;
	border-image-source: linear-gradient(154.04deg, rgba(124, 139, 196, 0.4) 0%, rgba(124, 139, 195, 0) 100%);
	border-image-slice: 1;
}

.product-card__photo {
	height: 200px;
	display: block;
	margin: 0 auto;
	object-fit: contain;
	object-position: center;
	margin-bottom: 20px;
	filter: grayscale(1);
}

.product-card__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 130%;
	color: #ffffff;
	margin-bottom: 6px;
}

.product-card__stock {
	display: block;
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
	color: #5D6796;
	position: relative;
	padding-left: 11px;
	margin-bottom: 16px;
}

.product-card__stock::before {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: #C30000;
}

.product-card__stock.active::before {
	background: #0BC734;
}

.product-card__price {
	font-size: 20px;
	font-weight: 700;
	line-height: 130%;
	color: #ffffff;
	margin-bottom: 26px;
}

.product-card__actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.product-card__link {
	padding: 9.5px 36.5px;
	height: 40px;
}

.product-card__action {
	width: 40px;
	height: 40px;
	outline: 1px solid #C30000;
	color: #ffffff;
}

.product-card__action[data-action=plus] {
	font-size: 12px;
}

.product-card__action[data-action=minus] {
	font-size: 2px;
}

.contact {
	margin-bottom: 80px;
}

.contact__title {
	margin-bottom: 40px;
}

.contact__wrapper {
	display: flex;
	align-items: center;
	gap: 173px;
}

.contact__form {
	background: rgba(37, 45, 80, 0.6);
	padding: 40px;
	border: 1px solid transparent;
	border-image-source: linear-gradient(154.04deg, rgba(124, 139, 196, 0.4) 0%, rgba(124, 139, 195, 0) 100%);
	border-image-slice: 1;
	width: 636px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.contact__form-text {
	font-size: 16px;
	font-weight: 500;
	line-height: 110%;
	color: #ffffff;
}

.contact__form-inputs {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact__form-input {
	padding: 17px 16px;
	background: rgb(47, 56, 92);
}

.contact__form-input::placeholder {
	color: rgba(255, 255, 255, 0.4);
}

.contact__data {
	font-size: 40px;
	font-weight: 700;
	line-height: 110%;
	color: #ffffff;
	display: flex;
	flex-direction: column;
}

.contact__phone {
	margin-bottom: 15px;
}

.contact__email {
	margin-bottom: 24px;
}

.contact__address {
	font-weight: 400;
	font-size: 16px;
	line-height: 110%;
}

@media (max-width: 1279px) {
	.contact__wrapper {
		gap: 100px;
	}

	.contact__form {
		width: 53%;
	}

	.contact__data {
		font-size: 36px;
	}
}

.iti--separate-dial-code .iti__selected-flag {
	background: transparent;
	padding: 17px 0 17px 16px;
	font-size: 16px;
	font-weight: 500;
	line-height: 110%;
	color: #ffffff;
}

.map {
	padding: 58px 0;
	position: relative;
}

.map__el {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	inset: 0;
	display: flex;
}

.map__wrapper {
	position: relative;
	z-index: 2;
}

.map__form {
	max-width: 636px;
	width: 100%;
	padding: 50px 80px;
	margin-left: auto;
	background: rgba(15, 18, 31, 0.95);
}

.map__form-title {
	margin-bottom: 60px;
}

.map__form-inputs {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-bottom: 103px;
}

.map__input-label {
	font-size: 20px;
	font-weight: 500;
	line-height: 110%;
	color: #ffffff;
	margin-bottom: 5px;
}

.map__input-el {
	padding: 3.5px 0;
	border-bottom: 1px solid #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 110%;
	color: #ffffff;
}

.map__input-el::placeholder {
	color: rgb(65, 68, 81);
}

@media (max-width: 1279px) {
	.map__form {
		margin: 0 auto;
	}
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "NTSomic";
	font-display: swap;
	src: url("../fonts/NTSomic-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^=_icon-],
[class*=" _icon-"],
.icon-el::after,
.icon-el::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-arrow-left:before {
	content: "\e900";
	color: #fff;
}

._icon-arrow-right:before {
	content: "\e901";
	color: #fff;
}

._icon-burger:before {
	content: "\e902";
	color: #fff;
}

._icon-cart:before {
	content: "\e903";
	color: #fff;
}

._icon-menu-arrow:before {
	content: "\e904";
	color: #fff;
}

._icon-menu-catalog:before {
	content: "\e905";
	color: #fff;
}

._icon-minus:before {
	content: "\e906";
	color: #fff;
}

._icon-play:before {
	content: "\e907";
	color: #fff;
}

._icon-plus:before {
	content: "\e908";
	color: #fff;
}

._icon-search:before {
	content: "\e909";
	color: #fff;
}

.catalog__nav {
	width: 314px;
}

.catalog__nav a {
	width: 100%;
}

.catalog__nav-items {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.catalog__nav-main {
	padding: 16px;
	color: #A5A5A5;
	font-size: 18px;
	font-weight: 500;
	line-height: 111.1111111111%;
	background: #080B15;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: 0.4s all;
}

.catalog__nav-main.active {
	color: #ffffff;
	background: #C30000;
}

.catalog__nav-main::after {
	content: "\e908";
	font-size: 12px;
	color: #C30000;
	transition: 0.4s all;
}

.catalog__nav-main.active::after {
	color: #ffffff;
}

.catalog__nav-sub-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 0px;
	opacity: 0;
	transition: 0.4s all;
	pointer-events: none;
}

.catalog__nav-sub-list.active {
	opacity: 1;
	pointer-events: all;
}

.catalog__nav-sub {
	font-size: 14px;
	font-weight: 500;
	line-height: 110%;
	color: #636363;
	background: #0D101B;
	padding: 11px 32px;
}