// BTNS

.red-btn {
    background: $red-color;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(18 / 16 * 100%);
    color: #ffffff;
    border-style: solid;
    border-color: $red-color;
}

.transparent-btn {
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    line-height: calc(18 / 16 * 100%);
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
}

.swiper__nav {
    display: flex;
    align-items: center;
    gap: 40px;

    &-btn {
        display: flex;
    }

    &-btn i {
        font-size: 20px;
        font-weight: 600;
    }
}

// TITLES

.title__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.title__number {
    font-size: 16px;
    font-weight: 500;
    line-height: calc(17.6 / 16 * 100%);
    color: $red-color;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: calc(35.2 / 32 * 100%);
    color: #ffffff;
}

// FORM ELEMS

.form-footer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.form-accept {

    &__input {
        position: absolute;
        width: 12px;
        height: 12px;
        opacity: 0;
        z-index: 1;

        &:checked + p::before {
            background-image: url('../img/icons/input-check.svg');
            background-position: center;
            background-size: 8px;
            background-repeat: no-repeat;
        }
    }

    &__text {
        font-size: 12px;
        font-weight: 500;
        line-height: calc(13.2 / 12 * 100%);
        color: #ffffff;
        padding-left: 24px;
        position: relative;
        max-width: calc(180px + 24px);

        &::before {
            content: "";
            width: 12px;
            height: 12px;
            background-color: $red-color;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
    }
}

.form-submit {
    padding: 7.5px 44.5px;
}

// LOGO

.logo {
    height: fit-content;
}

.logo img {
    max-width: 100%;
    object-fit: contain;
}

// CIRCLES

.circle {
    position: absolute;
    z-index: -1;
    width: 618px;
    height: 618px;
    background: $red-color;
    filter: blur(200px);
}

// BREADCRUMBS

.breadcrumbs {
    margin-bottom: 12px;

    &__list {
        display: flex;
        align-items: center;
        gap: 5px;

        &-item {
            font-size: 12px;
            font-weight: 400;
            line-height: calc(13.2 / 12 * 100%);
            color: #A5A5A5;
        }

        &-point {
            width: 2px;
            height: 2px;
            background: #A5A5A5;
        }
    }
}

// TEXT

.content {
    color: #A5A5A5;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(17.6 / 16 * 100%);

    &__items {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 31.2px;
        color: #ffffff;
        margin-bottom: 12px;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    ul {
        margin-left: 15px;
    }

    li {
        list-style: disc;
    }

    .white,
    strong {
        color: #ffffff;
    }
}