* {
	padding: 0;
	margin: 0;
	border: 0 ;
	outline: none ;
	border-collapse: collapse;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

body {
	font-family: 'NTSomic', sans-serif;
	background: #0F121F;

	&.non-scroll {
		overflow: hidden;
	}
}

img {
	max-width: 100%;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 20px;
}