@import 'base/fonts';

.catalog__nav {
    width: 314px;
    
    a {
        width: 100%;
    }

    &-items {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &-main {
        padding: 16px;
        color: #A5A5A5;
        font-size: 18px;
        font-weight: 500;
        line-height: calc(20 / 18 * 100%);
        background: #080B15;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: .4s all;

        &.active {
            color: #ffffff;
            background: $red-color;
        }

        &::after {
            content: "\e908";
            font-size: 12px;
            color: $red-color;
            transition: .4s all;
        }

        &.active::after {
            color: #ffffff;
        }
    }

    &-sub-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 0px;
        opacity: 0;
        transition: .4s all;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &-sub {
        font-size: 14px;
        font-weight: 500;
        line-height: calc(15.4 / 14 * 100%);
        color: #636363;
        background: #0D101B;
        padding: 11px 32px;
    }
}

@media(max-width: 989px) {
    .catalog__nav {
        width: 100%;
    }
}