.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        max-width: 87px;
    }

    &__nav {
        padding-left: 74px;

        &-list {
            display: flex;
            align-items: center;
        }

        &-list-item {
            font-size: 18px;
            font-weight: 600;
            line-height: calc(23.58 / 18 * 100%);
            color: #ffffff;
            position: relative;
            transition: .4s all;
            background: transparent;

            &:hover {
                background: #FFFFFF0A; 
            }

            &:hover .header__submenu {
                opacity: 1;
                pointer-events: all;
            }

            &>a {
                padding: 25px;
                display: inline-flex;
                align-items: flex-end;
                gap: 8px;
            }

            i {
                font-size: 8px;
                margin-bottom: 5.5px;
                color: #fff;
            }
        }
    }

    &__submenu {
        position: absolute;
        top: 100%;
        padding-top: 12px;
        width: max-content;
        pointer-events: none;
        opacity: 0;
        transition: .4s all;
        z-index: 5;

        &-wrapper {
            border: 1px solid #FFFFFF33;
        }

        &-item {
            font-size: 14px;

            a {
                background: #00000003;
                padding: 8px 25px;
                width: 100%;
            }

            a:hover {
                background: #FFFFFF0A;
            }
        }
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 21px;
        margin: 0 0 0 auto;

        &-text {
            font-size: 16px;
            font-weight: 700;
            line-height: calc(21 / 16 * 100%);
            color: #fff;
        }

        &-btn {
            padding: 7.5px 17px;
        }

        &-search {
            display: flex;
            font-size: 17px;
        }

        &-cart {
            display: flex;
            font-size: 23px;
            padding: 6.5px 19.5px;
        }

        &-burger {
            display: none;
            width: 36px;
            height: 36px;
            position: relative;

            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .4s all;
            }

            ._icon-burger {
                font-size: 16px;
                opacity: 1;
            }

            &.active ._icon-burger {
                opacity: 0;
            }

            ._icon-close {
                font-size: 21px;
            }

            &.active ._icon-close {
                opacity: 1;
            }
        }
    }
}

.mobile__menu {
    display: none;
}

@media(max-width: 1279px) {
    .header {
        &__wrapper {
            justify-content: space-between;
        }
        &__phone {
            display: none;
        }
        &__nav {
            padding: 0;

            &-list-item>a {
                padding: 25px 20px;
            }
        }
        &__block {
            gap: 14px;
            margin: 0;
        }
    }
}

@media(max-width: 989px) {
    .header {
        padding: 19px 0;

        &__nav {
            display: none;
        }

        &__block {
            &-search,
            &-cart {
                display: none;
            }
            &-burger {
                display: block;
            }
        }
    }

    .mobile__menu {
        position: absolute;
        right: 0;
        top: 75px;
        height: 100vh;
        width: 40vw;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px 16px;

        opacity: 0;
        z-index: -1;
        pointer-events: none;
        transition: .5s all;

        &.active {
            z-index: 10;
            pointer-events: all;
            opacity: 1;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-list-item {
            font-size: 18px;
            font-weight: 600;
            line-height: calc(23 / 18 * 100%);
            color: #ffffff;

            &>a {
                display: flex;
                align-items: flex-end;
                gap: 8px;
            }

            i {
                font-size: 8px;
                margin-bottom: 5.5px;
            }
        }
    }

    .mobile__submenu {
        height: 0px;
        opacity: 0;
        transition: .4s all;
        display: flex;
        flex-direction: column;
        gap: 12px;
        pointer-events: none;

        &.active {
            pointer-events: all;
            opacity: 1;
            margin-top: 12px;
        }

        &-item {
            font-size: 14px;
            font-weight: 400;
            line-height: calc(18 / 14 * 100%);
            color: #ffffff;
            opacity: .6;
        }
    }
}

@media(max-width: 574px) {
    .header {
        &__block-text {
            font-size: 14px;
        }
    }

    .mobile__menu {
        width: 50vw;
    }
}
