// MAP

.map {

    &__title {
        display: none;
    }

    &__inner {
        padding: 58px 0;
        position: relative;
    }

    &__el {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        inset: 0;
        display: flex;
        opacity: .5;
    }

    &__form {
        position: relative;
        z-index: 3;
        max-width: 636px;
        width: 100%;
        padding: 50px 80px;
        margin-left: auto;
        background: rgba(15, 18, 31, 0.95);

        &-title {
            margin-bottom: 60px;
        }

        &-inputs {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-bottom: 103px;
        }
    }

    &__input {

        &-label {
            font-size: 20px;
            font-weight: 500;
            line-height: calc(22 / 20 * 100%);
            color: #ffffff;
            margin-bottom: 5px;
        }

        &-el {
            padding: 3.5px 0;
            border-bottom: 1px solid #ffffff;
            font-size: 16px;
            font-weight: 500;
            line-height: calc(17.6 / 16 * 100%);
            color: #ffffff;

            &::placeholder {
                color: rgba(65, 68, 81, 1);
            }
        }
    }
}

@media(max-width: 1279px) {
    .map__form {
        margin: 0 auto;
    }
}

@media(max-width: 767px) {
    .map {
        &__inner {
            padding: 16px 0 60px;
        }
        &__title {
            display: flex;
            margin-bottom: 40px;
        }
        &__form {
            padding: 20px;

            &-inputs {
                margin-bottom: 48px;
            }

            &-title {
                display: none;
            }
        }
    }
}
