// PAYMENTS

.payments {
    padding: 185px 0 145px;
    position: relative;
    overflow: hidden;

    &__title {
        margin-bottom: 36px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 527px;
    }

    .circle:nth-child(1) {
        top: 83px;
        right: calc(100% - 20px);
    }

    .circle:nth-child(2) {
        bottom: -200px;
        left: calc(100% - 20px);
    }

    .contact__wrapper {
        flex-direction: column;
        gap: 32px;
    }

    .contact__data {
        align-items: center;
    }
}

@media(max-width: 1439px) {
    .payments {
        .contact__wrapper {
            width: 45%;
        }
        .contact__form {
            width: 100%;
        }
    }
}

@media(max-width: 1279px) {
    .payments {
        padding: 175px 0 100px;

        &__content {
            max-width: 80%;
        }
       
        &__wrapper {
            flex-direction: column;
            gap: 80px;
        }

        .contact__wrapper {
            width: 100%;
            gap: 100px;
            flex-direction: row;
        }

        .contact__data {
            align-items: flex-start;
        }

        .contact__form {
            width: 53%;
        }
    }
}

@media(max-width: 989px) {
    .payments {
        &__wrapper {
            gap: 60px;
        }
        &__content {
            max-width: 100%;
        }
        .circle:nth-child(1) {
            top: 0;
            right: 115%;
        }
        .circle:nth-child(2) {
            left: 110%;
        }
    }
}