.contacts {
    padding: 185px 0 150px;
    position: relative;
    overflow: hidden;

    &__items {
        margin-top: 108px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px 20px;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    &__item {

        &-title {
            font-size: 24px;
            font-weight: 700;
            line-height: calc(31 / 24 * 100%);
            color: #ffffff;
        }

        &-date {
            font-size: 16px;
            font-weight: 400;
            line-height: calc(17.6 / 16 * 100%);
            color: #A5A5A5;
        }
    }
}

.contacts .circle {
    top: 0;
}

.contacts .circle:nth-child(1) {
    right: calc(100% - 20px);
}

.contacts .circle:nth-child(2) {
    left: calc(100% - 20px);
}

@media(max-width: 1279px) {
    .contacts {
        padding: 185px 0 120px;
        &__items {
            margin-top: 80px;
        }
    }
}

@media(max-width: 989px) {
    .contacts {
        .circle:nth-child(1) {
            right: 120%;
        }
        .circle:nth-child(2) {
            left: 120%;
        }
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }

        &__items-list {
            flex-direction: row;
            grid-column: span 2;
        }
    }
}