// CATALOG

.catalog {
    padding: 185px 0 424px;
    position: relative;
    overflow: hidden;

    &__title {
        margin-bottom: 107px;
    }

    &__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    &-swiper__wrapper {
        width: calc(100% - 322px);
    }

    &-swiper {
        margin: 0;

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;
        }
    }

    .circle:nth-child(1) {
        top: 83px;
        right: 100%;
    }

    .circle:nth-child(2) {
        bottom: 448px;
        left: 104%;
    }
}

@media(max-width: 1279px) {
    .catalog {
        padding: 175px 0 200px;

        &__title {
            margin-bottom: 80px;
        }
    }
    .catalog-swiper .swiper-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}