@import 'base/variables';

// PRIVACY

.privacy {
    padding: 185px 0 150px;
    position: relative;
    overflow: hidden;

    &__title {
        margin-bottom: 108px;
    }

    &__subtitle {
        margin-bottom: 0;
    }

    .circle:nth-child(1) {
        top: 0;
        left: 105%;
    }
    .circle:nth-child(2) {
        top: 1008px;
        right: 105%;
    }
    .circle:nth-child(3) {
        bottom: 570px;
        left: 105%;
    }
    .circle:nth-child(4) {
        bottom: -300px;
        right: 105%;
    }
}

.content {
    margin-top: 36px;
    color: #ffffff;

    &__title {
        margin-bottom: 8px;
    }
    &__wrap {
        gap: 16px;
    }
    a {
        border-bottom: 1px solid #ffffff;
    }

    strong {
        color: $red-color;
    }

    &__sub {
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}