// PRODUCT

.product {
    padding: 185px 0 310px;
    position: relative;
    overflow: hidden;

    .circle:nth-child(1) {
        top: 295px;
        left: 104%;
    }
    .circle:nth-child(2) {
        top: 35%;
        right: 105%;
    }
    .circle:nth-child(3) {
        bottom: -70px;
        left: 105%;
    }

    &__title {
        margin-bottom: 100px;
        font-size: 32px !important;
    }

    &__wrapper {
        display: flex;
        gap: 8px;
    }

    &__content {
        max-width: calc(100% - 322px);
    }

    &__main {
        display: flex;
        gap: 115px;
        margin-bottom: 50px;
    }

    &__photo-wrap {
        width: 422px;
        height: 452px;
        padding: 39px 25px;
        background: rgba(37, 45, 80, 0.6);
        border: 1px solid transparent;
        border-image-source: linear-gradient(154.04deg, rgba(124, 139, 196, 0.4) 0%, rgba(124, 139, 195, 0) 100%);
        border-image-slice: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__stock {
        margin-bottom: 12px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 24px;
        font-weight: 700;
        line-height: calc(31 / 24 * 100%);
        color: #ffffff;
        margin-bottom: 24px;
    }

    &__actions-btns {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__action-btn {
        padding: 9px 35.5px;
        width: 100%;
        border-width: 1px;
    }

    &__descr {
        max-width: 636px;
        margin-bottom: 48px;

        &-content {
            margin-bottom: 24px;
        }
    }

    &__standarts {
        margin-bottom: 48px;
        &-title {
            margin-bottom: 24px;
        }
    }

    &__similar {
        margin-bottom: 100px;
        &-title {
            margin-bottom: 24px;
        }
    }

    &__seo {
        display: flex;
        flex-direction: column;
        gap: 60px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        li::before {
            background: #ffffff;
        }
    }
}

.characters__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.characters__item {
    display: flex;
    align-items: center;
    gap: 8px;

    &-name {
        width: 207px;
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        color: #ffffff;
    }

    &-value {
        font-size: 20px;
        font-weight: 400;
        line-height: calc(22 / 20 * 100%);
        color: rgba(165, 165, 165, 1);
    }
}

.similar-swiper {
    &__wrapper {
        position: relative;
        max-width: 100%;
    }
    &__nav {
        position: absolute;
        right: 0;
        bottom: calc(100% + 30px);
    }
}

@media(max-width: 1279px) {
    .product {
        padding: 175px 0 200px;

        &__title {
            margin-bottom: 80px;
        }

        &__main {
            gap: 40px;
            margin-bottom: 80px;
        }

        &__similar {
            margin-bottom: 80px;
        }

        &__seo {
            gap: 44px;
        }

        &__photo-wrap {
            width: 50%;
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }

    .similar-swiper {
        width: calc(100% + 50vw);

        .swiper-slide {
            width: 30vw !important;
        }
    }
}

@media(max-width: 989px) {
    .product {
        padding-bottom: 120px;
        .catalog__nav {
            display: none;
        }
        &__wrapper {
            flex-direction: column;
            gap: 60px;
        }
        &__content {
            max-width: 100%;
        }
        &__photo-wrap {
            width: 43%;
        }

        .circle:nth-child(1) {
            left: 120%;
            top: 0;
        }
        .circle:nth-child(2) {
            right: 120%;
        }
        .circle:nth-child(3) {
            left: 120%;
        }
    }
    .similar-swiper {

        .swiper-slide {
            width: 40vw !important;
        }
    }
}

@media(max-width: 767px) {
    .product {
        padding-bottom: 80px;

        &__main {
            gap: 20px;
            align-items: flex-end;
        }

        &__photo-wrap {
            padding: 15px 9px;
            width: 40%;
        }

        .similar-swiper .swiper-slide {
            width: 53vw !important;
        }
    }
}

@media(max-width: 574px) {
    .product {
        padding-bottom: 60px;
        &__title {
            margin-bottom: 60px;
        }
        &__main {
            margin-bottom: 60px;
            gap: 16px;
        }
        &__photo-wrap {
            width: calc(165 / (360 - 16 - 16) * 100%);
        }
        &__actions {
            width: calc(144 / (360 - 16 - 16) * 100%);
        }
        &__price {
            margin-bottom: 18px;
            font-size: 20px;
        }
        &__action-btn {
            font-size: 12px;
            padding: 10px 10px;
        }
        &__descr {
            max-width: 100%;
            margin-bottom: 32px;
        }
        &__standarts {
            margin-bottom: 32px;
        }
        &__standarts-title {
            font-size: 20px;
        }
        &__similar {
            margin-bottom: 60px;
        }
        &__seo {
            gap: 32px;
        }
    }

    .characters__item {

        &-name {
            width: 170px;
            font-size: 16px;
        }

        &-value {
            font-size: 16px;
        }
    }

    .similar-swiper {
        overflow: visible;
        width: 100%;

        &__nav {
            position: static;
            justify-content: center;
            margin-top: 24px;
        }

        .swiper-slide {
            opacity: .3;
            transition: opacity .4s linear;
            width: 65vw !important;
        }
        .swiper-slide-active {
            opacity: 1;
        }
        
    }
}
